.signupForm {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #ffffff;
}

.navBar {
    background-color: rgb(215, 64, 64);
    overflow: hidden;
}

.signupButton {
  color: yellow;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.signupButton:hover {
  background-color: #ddd;
  color: black;
}

.userInfo p {
  display: block;
  width:fit-content ;
  height: 75px;
  border-radius: 50%;
  line-height: 75px;
  font-size: 25px;
  text-align: center;
  background: rgb(255, 245, 245);
  color: rgb(0, 0, 0);
}