.userInfo p {
  display: block;
  width:fit-content ;
  height: 75px;
  border-radius: 50%;
  line-height: 75px;
  font-size: 25px;
  text-align: center;
  background: rgb(255, 245, 245);
  color: rgb(0, 0, 0);
}

* {
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
}

.page-title {
  font-size: 1.5rem;
  margin: .5rem;
  font-family: 'Courier New', Courier, monospace;
}

.navbar-links {
  margin: 0;
  padding: 0;
  display: flex;

}

.nav-links {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
  font-family: 'Courier New', Courier, monospace;

}

.nav-links:hover {
  background-color: rgb(90, 81, 81);

}

.logout-button {
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  color: white;
  background-color: #333;
  border-color: #333;
  padding: 1rem;
  display: block;
  cursor: pointer;
}

.logout-button:hover {
  background-color: rgb(90, 81, 81);
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}

/* Login / Signup Form */

.login-signup-main-div {
  background-image: url('./Images/background.jpeg');
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-signup-main-div p {
  font-size: smaller;
  text-align: center;
}

.toggle-login-signup-button {
  background-color: hsla(200, 14%, 4%, 0.396);;
  border:  1px solid rgb(30, 83, 112);
  outline: none;
  padding: 10px 30px;
  width: 100%;
  border-radius: 5px;
  font-size: 1em;
  color: white;
  font-weight: lighter;
  margin-top: 20px;
  cursor: pointer;
}

.toggle-login-signup-div {
  background-color: none;
  border: 0;
  padding: 0;

}

.login-signup-container {
  background-color: hsla(201, 100%, 6%, 0.6);
  padding: 50px 30px;
  width: 50%;
  min-width: 400px;
  max-width: 600px;
}

.login-signup-title {
  color: whitesmoke;
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
  font-size: 2.5em;
  font-weight: normal;
}

.login-signup-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.login-signup-input label {
  color: white;
  font-weight: lighter;
  font-size: 1em;
  margin-bottom: 7px;
}

.login-signup-input input {
  background-color: hsla(201, 100%, 91%, 0.3);;
  border: 1px solid hsla(201, 100%, 6%);;
  outline: none;
  font-size: 1.5em;
  padding: .1em .25em;
  border-radius: 5px;
  color: white;
  font-weight: lighter;
}

.login-signup-input input:focus {
  border: 1px solid hsla(201, 100%, 50%);;

}

.login-signup-button {
  background-color: hsla(201, 100%, 50%, 0.1);;
  border:  1px solid hsla(201, 100%, 50%);
  outline: none;
  padding: 10px 30px;
  width: 100%;
  border-radius: 5px;
  font-size: 1em;
  color: white;
  font-weight: lighter;
  margin-top: 20px;
  cursor: pointer;
}

.login-signup-button:hover {
  background-color: hsla(201, 100%, 50%, 0.3);
}

.login-signup-button:focus {
  background-color: hsla(201, 100%, 50%, 0.5);
}

/* Homepage */

.home-page-main-div {
  background-image: url('./Images/home_page_background.jpeg');
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}

.home-page-main-div h2 {
  font-size: 50px;
  color: hsla(203, 80%, 2%, 0.586);
  font-family: 'Courier New', Courier, monospace;
}